# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [13]:
# Loading the csv file created in step3
file3 = pd.read_csv('C:\\Users\\PGaur\\Desktop\\SpringBoard\\DSM\\6_Applying_DataScience\\2_Data_Wrangling\\1588204754_Step_2\\Step 2\\data\\step3_output.csv')

In [14]:
# Printing the first five rows of dataset
file3.head()

,Unnamed: 0,Name,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,2,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,...,30.0,30.000000,150.000000,36.0,69.0,30.0,34.00000,152.0,30.0,1
1,4,Sunrise Park Resort,Arizona,11100,1800,9200,0,0.0,0,1,...,800.0,80.000000,115.000000,49.0,250.0,74.0,78.00000,104.0,80.0,2
2,5,Yosemite Ski & Snowboard Area,California,7800,600,7200,0,0.0,0,0,...,88.0,174.873239,110.000000,84.0,300.0,47.0,47.00000,107.0,0.0,0
3,8,Boreal Mountain Resort,California,7700,500,7200,0,0.0,0,1,...,380.0,200.000000,150.000000,54.0,400.0,49.0,64.16681,150.0,200.0,0
4,9,Dodge Ridge,California,8200,1600,6600,0,0.0,0,0,...,862.0,174.873239,115.103943,69.0,350.0,78.0,78.00000,140.0,0.0,0

In [15]:
file3 = file3.drop('Unnamed: 0', axis=1)

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [16]:
# Removing 'state' categorical variable , creating dummy variable for the same 
# and adding created dummy variable to our dataset 

file3 = pd.get_dummies(file3, columns=['state'], drop_first=True)

In [17]:
file3.head()

,Name,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,Hilltop Ski Area,2090,294,1796,0,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Sunrise Park Resort,11100,1800,9200,0,0.0,0,1,2,3,...,0,0,0,0,0,0,0,0,0,0
2,Yosemite Ski & Snowboard Area,7800,600,7200,0,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Boreal Mountain Resort,7700,500,7200,0,0.0,0,1,1,3,...,0,0,0,0,0,0,0,0,0,0
4,Dodge Ridge,8200,1600,6600,0,0.0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

In [18]:
file3.shape

(176, 60)

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [19]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df

X = file3.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = file3.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler()
scaler.fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled= scaler.transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [20]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [21]:
# all first model set
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [22]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [23]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

print('Explained Variance Score : '+str(explained_variance_score(y_test, y_pred)))

Explained Variance Score : -7.418652465505898e+17

In [11]:
file3.shape

(176, 62)

In [19]:
print('Mean Absolute Error : '+str(mean_absolute_error(y_test, y_pred)))

Mean Absolute Error : 516950275190.0309

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [21]:
print(lm.intercept_)

-129237568739.58653

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [28]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(['Coefficient'],axis=0,ascending=False)

                    Coefficient
fastEight          4.894771e+13
trams              2.119739e+13
fastSixes          1.583863e+13
total_chairs       7.828085e+12
New York           7.218601e+12
Michigan           6.350886e+12
California         5.733084e+12
New Hampshire      5.505719e+12
Pennsylvania       5.505719e+12
Wisconsin          5.505719e+12
Minnesota          4.737785e+12
Vermont            4.737785e+12
double             4.297507e+12
Idaho              4.127393e+12
New Mexico         4.127393e+12
surface            4.112633e+12
Colorado           3.778842e+12
Connecticut        3.778842e+12
Maine              3.778842e+12
Wyoming            3.778842e+12
triple             3.510269e+12
Massachusetts      3.389768e+12
Montana            3.389768e+12
Ohio               3.389768e+12
Washington         3.389768e+12
North Carolina     2.944146e+12
West Virginia      2.944146e+12
Illinois           2.944146e+12
Iowa               2.944146e+12
Oregon             2.944146e+12
Utah               2.944146e+12
Virginia           2.410823e+12
Missouri           2.410823e+12
Indiana            2.410823e+12
quad               1.998763e+12
Tennessee          1.709601e+12
Rhode Island       1.709601e+12
Maryland           1.709601e+12
Nevada             1.709601e+12
Alaska             1.709601e+12
Arizona            1.709601e+12
South Dakota       1.709601e+12
fastQuads          1.670569e+12
New Jersey         5.137239e+07
AdultWeekday       9.399414e+00
Unnamed: 0         2.912273e+00
vertical_drop      2.708869e+00
projectedDaysOpen  2.250000e+00
clusters           2.076172e+00
TerrainParks       1.855469e+00
SkiableTerrain_ac  1.654297e+00
averageSnowfall    1.611328e+00
LongestRun_mi      1.300323e+00
daysOpenLastYear   1.292969e+00
NightSkiing_ac     9.843750e-01
Snow Making_ac     9.033203e-01
summit_elev        7.895662e-01
Runs               6.743164e-01
yearsOpen          4.218750e-01

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [12]:
file4 = pd.read_csv('C:\\Users\\PGaur\\Desktop\\SpringBoard\\DSM\\6_Applying_DataScience\\2_Data_Wrangling\\1588204754_Step_2\\Step 2\\data\\step3_output.csv')

In [13]:
file4.shape

(176, 28)

In [37]:
# Printing the first five rows of dataset
print(file4.head())

   Unnamed: 0                           Name       state  summit_elev  \
0           2               Hilltop Ski Area      Alaska         2090
1           4            Sunrise Park Resort     Arizona        11100
2           5  Yosemite Ski & Snowboard Area  California         7800
3           8         Boreal Mountain Resort  California         7700
4           9                    Dodge Ridge  California         8200

   vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  ...  \
0            294      0        0.0          0          0     0  ...
1           1800      0        0.0          0          1     2  ...
2            600      0        0.0          0          0     0  ...
3            500      0        0.0          0          1     1  ...
4           1600      0        0.0          0          0     1  ...

   SkiableTerrain_ac  Snow Making_ac  daysOpenLastYear  yearsOpen  \
0               30.0       30.000000        150.000000       36.0
1              800.0       80.000000        115.000000       49.0
2               88.0      174.873239        110.000000       84.0
3              380.0      200.000000        150.000000       54.0
4              862.0      174.873239        115.103943       69.0

   averageSnowfall  AdultWeekday  AdultWeekend  projectedDaysOpen  \
0             69.0          30.0      34.00000              152.0
1            250.0          74.0      78.00000              104.0
2            300.0          47.0      47.00000              107.0
3            400.0          49.0      64.16681              150.0
4            350.0          78.0      78.00000              140.0

   NightSkiing_ac  clusters
0            30.0         1
1            80.0         0
2             0.0         0
3           200.0         0
4             0.0         0

[5 rows x 27 columns]

In [38]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X2 = file4.drop(['Name','AdultWeekend','state'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y2 = file4.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler2 = preprocessing.StandardScaler().fit(X2)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X2_scaled=scaler2.transform(X2)

In [40]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y2
y2 = y2.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2_scaled, y2, test_size=0.25, random_state=1)

In [41]:
model2 = lm.fit(X_train2,y_train2)

In [42]:
# Make a variable called y_pred2 and assign it the result of calling predict() on our model variable with parameter X_test2
y_pred2 = model2.predict(X_test2)

In [43]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

print('Explained Variance Score : '+str(explained_variance_score(y_test2, y_pred2)))

Explained Variance Score : 0.5318589705675874

In [44]:
print('Mean Absolute Error : '+str(mean_absolute_error(y_test2, y_pred2)))

Mean Absolute Error : 7.323369460022582

In [45]:
# You might want to make a pandas DataFrame displaying the coefficients : 
pd.DataFrame(abs(lm.coef_), X2.columns, columns=['Coefficient']).sort_values(['Coefficient'],axis=0,ascending=False)

                    Coefficient
AdultWeekday       1.032132e+01
clusters           4.462896e+00
TerrainParks       2.575288e+00
vertical_drop      2.302020e+00
projectedDaysOpen  2.010351e+00
quad               1.852450e+00
summit_elev        1.826434e+00
daysOpenLastYear   1.820461e+00
SkiableTerrain_ac  1.345728e+00
LongestRun_mi      1.190386e+00
surface            1.021041e+00
Snow Making_ac     6.652666e-01
fastQuads          6.353253e-01
total_chairs       4.873272e-01
triple             4.555921e-01
double             3.841274e-01
NightSkiing_ac     3.122889e-01
Runs               2.251031e-01
yearsOpen          2.057453e-01
averageSnowfall    1.331471e-01
Unnamed: 0         1.118065e-01
trams              1.776357e-15
fastEight          8.881784e-16
fastSixes          2.220446e-16

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [47]:
file5 = pd.read_csv('C:\\Users\\PGaur\\Desktop\\SpringBoard\\DSM\\6_Applying_DataScience\\2_Data_Wrangling\\1588204754_Step_2\\Step 2\\data\\step3_output.csv')

In [50]:
print(file5.columns)

Index(['Unnamed: 0', 'Name', 'state', 'summit_elev', 'vertical_drop', 'trams',
       'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple', 'double',
       'surface', 'total_chairs', 'Runs', 'TerrainParks', 'LongestRun_mi',
       'SkiableTerrain_ac', 'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen',
       'averageSnowfall', 'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen',
       'NightSkiing_ac', 'clusters'],
      dtype='object')

In [51]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X3 = file5.drop(['Name','AdultWeekend','state','summit_elev','vertical_drop'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y3 = file5.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X3 
scaler3 = preprocessing.StandardScaler().fit(X3)

# Declare a variable called X3_scaled, and assign it the result of calling the transform() method with parameter X3
X3_scaled=scaler3.transform(X3)

In [52]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y3
y3 = y3.ravel()

# Call the train_test_split() function with the first two parameters set to X3_scaled and y3 
# Declare four variables, X_train3, X_test3, y_train3 and y_test3 separated by commas 
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3_scaled, y3, test_size=0.25, random_state=1)

In [53]:
model3 = lm.fit(X_train3,y_train3)

In [54]:
# Make a variable called y_pred3 and assign it the result of calling predict() on our model variable with parameter X_test3
y_pred3 = model.predict(X_test3)

In [55]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

print('Explained Variance Score : '+str(explained_variance_score(y_test3, y_pred3)))

Explained Variance Score : 0.5435519253034653

In [56]:
print('Mean Absolute Error : '+str(mean_absolute_error(y_test3, y_pred3)))

Mean Absolute Error : 7.338472012087315

In [57]:
# You might want to make a pandas DataFrame displaying the coefficients : 
pd.DataFrame(abs(lm.coef_), X3.columns, columns=['Coefficient']).sort_values(['Coefficient'],axis=0,ascending=False)

                    Coefficient
AdultWeekday       1.083878e+01
clusters           3.924242e+00
daysOpenLastYear   2.351181e+00
projectedDaysOpen  2.307116e+00
TerrainParks       2.306557e+00
quad               1.853573e+00
LongestRun_mi      1.466275e+00
surface            1.462072e+00
Runs               7.624522e-01
fastQuads          6.920813e-01
triple             5.948172e-01
averageSnowfall    4.559149e-01
double             4.199529e-01
Snow Making_ac     4.150859e-01
total_chairs       3.501209e-01
NightSkiing_ac     1.951380e-01
SkiableTerrain_ac  1.060838e-01
Unnamed: 0         8.740673e-02
yearsOpen          3.108216e-02
trams              1.332268e-15
fastSixes          4.440892e-16
fastEight          0.000000e+00

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [0]:
# Model            Explained Variance          Mean Absolute Error

# Model 1         6.177538454129216e+22        516950275190.0309

# Model 2           0.5318589705675874         7.323369460022582

# Model 3             0.5435519253034653         7.338472012087315